@import "~bootstrap/scss/bootstrap";


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*--------------------------------------------------------------
# Nav Section
--------------------------------------------------------------*/

#nav {
    background: transparent;
    position: relative;
}

.nav-inner {
    position: absolute;
    margin: 0;
    padding: 0;  
    z-index: 1;
}

.logo {
    margin-left: 50%;
    width: 100%;
    height: auto;
}

@media (max-width: 992px) { 
    .logo {
        margin-left: 5%;
        width: 75%;
    }
}


@media (max-width: 576px) {  
    .logo {
        margin-left: 1%;
        width: 50%;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 100%;
    background: url("/img/hero.jpg") top right;
    background-size: cover;
    background-position: 60%;
}

.head {
    font-size: 80px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: white;
    animation: text-in 3s;
}

@keyframes text-in {
    0% {
      opacity: 0;
      transform: translateY(2rem);
    }
    
    100% {
      opacity: 1;
    }
}

@media (max-width: 576px) {  
    .head {
        font-size: 40px;
    }

    #hero {
        height: 70%;
    }
}

.outline {
	color: transparent;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.btn-about {
    animation: text-in 3s;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: white;
    border: none;
    background: #ac5fd1;
    &:hover {
      background: lighten(#ac5fd1, 5);
    }
}

/*--------------------------------------------------------------
# Main Section
--------------------------------------------------------------*/

.row {
    .container {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 5%;
        padding-left: 10%;
    }
}

.content {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 3vh;
}

.subhead {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #623576;
}

.subhead-alt {
    color: black;
}

.link {
    font-size: 24px;
    color: #623576;
    &:hover {
      color: lighten(#623576, 20);
      text-decoration: none;
    }
}

.img {
    width: 100%;
    height: 100%;
}

.wrapper img {
    object-fit: cover;
}

/*--------------------------------------------------------------
# Banner One
--------------------------------------------------------------*/

#banner-one {
    width: 100%;
    height: 100%;
    background: url("/img/banner-1.jpg") top right;
    background-size: cover;
    background-position: 50%;
    padding-bottom: 5%;

    .container {
        margin-top: 9vh;
    }
}

.btn-banner {
    width: fit-content;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 20px;
    color: white;
    border: none;
    background: #ff7218;
    &:hover {
      background: lighten(#ff7218, 5);
    }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.icon {
    width: 100%;
    height: auto;
}

.btn-service {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    height: 100px;
    width: 100px;
    padding: 14px 20px;
    border-radius: 50px;
    border-color: #ac5fd1;
    transition: 0.5s;
    margin-top: 30px;
    color: white;
    background: transparent;
    transition: .2s ease-in-out 0s;
    &:hover {
        box-shadow: 0 0 4px #ac5fd1;
        transform: scale(1.15);
    }
}

.service-container {
    background-color: #fafafa;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 5%;

    .wrapper {
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    }
}

@media (max-width: 992px) { 
    .service-container {
        background-color: #fafafa;
        padding-left: 10%;
        padding-top: 0%;

    
        .wrapper {
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: center;
        }
    }
}

@media (max-width: 576px) {  
    .service-container {
        background-color: #fafafa;
        padding-left: 10%;
        padding-top: 0%;
    
        .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        }
    }
}

.service-desc {
    font-size: 24px;
}

.service-icon {
 padding-top: 50px;
}


/*--------------------------------------------------------------
# Banner Two
--------------------------------------------------------------*/

#banner-two {
    width: 100%;
    height: auto;
    background: url("/img/banner-2.jpg") top left;
    background-size: cover;
    background-position: 50%;
    padding-bottom: 5%;

    .container {
        margin-right: 3vh;
    }

    .content {
        padding-bottom: 0;
        padding-top: 2vh;
    }
}

/*--------------------------------------------------------------
# Referrals
--------------------------------------------------------------*/

#referrals {

    .row {
        .container {
            padding-top: 10%;
            padding-bottom: 7%;
            padding-right: 5%;
            padding-left: 5%;
         }
         .showcase {
            padding-left: 20%;
         }
    }
}

@media (max-width: 768px) {  
    #referrals {

        .row {
            .showcase {
                padding-right: 15%;
                padding-left: 15%;
             }
        }
    }
}

.rating{
    font-size: 28px;
    color: #ff7218;
}


.name{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #623576;
    font-size: 20px;
    font-weight: 600;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    padding-left: 8vh;
    padding-right: 8vh;
}

.swiper-button-next {
    scale: 50%;
    color: #623576;
}

.swiper-button-prev {
    scale: 50%;
    color: #623576;
}

.swiper-pagination-bullet{ 
    background: #ffc718
}

/*--------------------------------------------------------------
# Socials
--------------------------------------------------------------*/
.social {
    height: 5vh;
    margin: 1vh;
    filter: invert(21%) sepia(31%) saturate(2165%) hue-rotate(248deg) brightness(96%) contrast(84%);
    transition: .2s ease-in-out 0s;
    &:hover {
        filter: invert(43%) sepia(8%) saturate(5104%) hue-rotate(238deg) brightness(103%) contrast(84%);
    }
}

#footer {
background-color: #fafafa;
    height: 18vh;

    .wrapper{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .follow{
        padding-top: 2vh;
    }
}

.social-content {
    font-size: 18px;
}